[debug_mode]
# True or False (case sensistive)
on=True

[stockscanny]
lowthreshold=200
highthreshold=300

[letterbox]
left=201
right=1080

[p1stocks]
top=540
bottom=580
left=30
right=190

[p2stocks]
top=540
bottom=580
left=235
right=395

[p3stocks]
top=540
bottom=580
left=440
right=600

[p4stocks]
top=540
bottom=580
left=645
right=805

[p1stocks480]
top=355
bottom=390
left=10
right=140

[p2stocks480]
top=355
bottom=390
left=155
right=245

[p3stocks480]
top=355
bottom=390
left=290
right=405

[p4stocks480]
top=355
bottom=390
left=430
right=520
