[stockscanny]
lowthreshold=200
highthreshold=500

[percentcanny]
lowthreshold=200
highthreshold=500

[p1stocks]
top=355
bottom=390
left=10
right=140

[p2stocks]
top=355
bottom=390
left=155
right=245

[p3stocks]
top=355
bottom=390
left=290
right=405

[p4stocks]
top=355
bottom=390
left=430
right=520

[p1percents]
top=410
bottom=450
left=110
right=150

[p2percents]
top=410
bottom=450
left=250
right=290

[p3percents]
top=410
bottom=450
left=390
right=430

[p4percents]
top=410
bottom=450
left=530
right=570