[debug_mode]
# True or False (case sensistive)
#on=True
on=False
app=False
follow_stocks=False
stock_cropper=False

[melee]
width=720
height=1280

###################
## FOLLOW STOCKS ##
###################

[follow_stocks]
non_player_threshold=75
player_threshold=150
buffer_size=90

[stockscanny]
lowthreshold=200
highthreshold=500

[percentcanny]
lowthreshold=200
highthreshold=500

###########
## TIMER ##
###########

[timer]
top=85
bottom=115
left=410
right=428

[timer480]
top=50
bottom=80
left=270
right=285

###############
## LETTERBOX ##
###############

[letterbox]
left=201
right=1080

###########
## STOCK ##
###########

[p1stocks]
top=540
bottom=580
left=35
right=180

[p2stocks]
top=540
bottom=580
left=240
right=385

[p3stocks]
top=540
bottom=580
left=450
right=595

[p4stocks]
top=540
bottom=580
left=655
right=800

#################
## STOCKS 480P ##
#################

[p1stocks480]
top=355
bottom=390
left=10
right=140

[p2stocks480]
top=355
bottom=390
left=155
right=245

[p3stocks480]
top=355
bottom=390
left=290
right=405

[p4stocks480]
top=355
bottom=390
left=430
right=520

##############
## PERCENTS ##
##############

[p1percents]
top=625
bottom=670
left=180
right=225

[p2percents]
top=625
bottom=670
left=385
right=430

[p3percents]
top=625
bottom=670
left=590
right=640

[p4percents]
top=625
bottom=670
left=800
right=845


###################
## PERCENTS 480P ##
###################

[p1percents480]
top=410
bottom=450
left=115
right=150

[p2percents480]
top=410
bottom=450
left=255
right=290

[p3percents480]
top=410
bottom=450
left=395
right=430

[p4percents480]
top=410
bottom=450
left=535
right=570

###############
## GO SCREEN ##
###############

[go_cropper]
top=150
bottom=500
left=125
right=700

#################
## GAME SCREEN ##
#################

[game_cropper]
top=150
bottom=500
left=125
right=725